@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #fefeff;
  --color-primary: #7070ff;
}
.dark {
  --color-background: #1e1f21;
  --color-primary: #7070ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
