@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #fefeff;
  --color-background1: #f5f6f7;
  --color-foreground: #1f1f1f;
  --color-primary: #5454ff;
  --color-gray: #cccccc;
}
.dark {
  --color-background: #1e1f21;
  --color-background1: #292b2e;
  --color-foreground: #f3f3f3;
  --color-primary: #8383fc;
  --color-gray: #464646;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
