@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-background1: #ffffff;
  --color-foreground: #3d3d3d;
  --color-primary: #5454ff;
  --color-sky: #38bdf8;
  --color-indigo: #818cf8;
}
.dark {
  --color-background: #1e1f21;
  --color-background1: #292b2e;
  --color-foreground: #e6e6e6;
  --color-primary: #5454ff;
  --color-sky: #38bdf8;
  --color-indigo: #818cf8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
