@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: "#5b58e6";
  --color-background: #ffffff;
  --color-foreground: #1A1A1A;
}

.dark {
  --color-primary: "#5b58e6";
  --color-background: #121212;
  --color-foreground: #E0E0E0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}