@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5b58e6;
  --color-background: #ffffff;
  --color-foreground: #1f1f1f;
  --color-surface: #f3f6fc;
}

.dark {
  --color-primary: #5b58e6;
  --color-background: #1f1f1f;
  --color-foreground: #e3e3e3;
  --color-surface: #2d2f31;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
